body{
    background-color: plum;
    #tchat{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 500px;
        gap: 10px;
        .chat{
            width: 400px;
            height: 700px;
            background-color: aliceblue;
        }
    }
    
}