body {
  background-color: rgb(244, 185, 244);
  cursor: url("/frontend/images/pngegg (1).png"), auto;
}
body form {
  width: 250px;
  margin: 0 auto;
  background-color: #00bfff;
  border-radius: 20px;
  padding: 6%;
}
body form label {
  display: block;
  margin-bottom: 10px;
}
body form input[type=email], body form input[type=password], body form input[type=pseudo] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
body form input[type=submit] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
body form input[type=submit]:hover {
  background-color: #45a049;
}
body .interface {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10vh;
}
body .interface #tchat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 300px;
}
body .interface #tchat #insertMessage {
  width: 80%;
  height: 30vh;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 50px;
  border: 2px solid #00bfff;
  outline: none;
  transition: all 0.3s ease-in-out;
}
body .interface #tchat #insertMessage:focus {
  border-color: #fff;
  box-shadow: 0 0 10px #00bfff;
}
body .interface #tchat #submitMessage {
  background-color: #00bfff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid #00bfff;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
body .interface #tchat #submitMessage:hover {
  background-color: #fff;
  color: #00bfff;
}
body .interface #tchat #guess {
  width: 80%;
  height: 5vh;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 20px;
  border: 2px solid #00bfff;
  outline: none;
  transition: all 0.3s ease-in-out;
}
body .interface #tchat #guess:focus {
  border-color: #fff;
  box-shadow: 0 0 10px #00bfff;
}
body .interface #tchat #pet {
  background-color: #00bfff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid #00bfff;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
body .interface #tchat #pet:hover {
  background-color: #fff;
  color: #00bfff;
}
body .interface #jeu {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 70vw;
  height: 70vh;
  border: rgb(252, 183, 193);
  border-radius: 15px;
  background: rgb(253, 215, 221);
}
body .interface #jeu input {
  width: 80%;
  height: 50vh;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 20px;
  border: 2px solid #00bfff;
  outline: none;
}
body .interface #jeu .udates .connect {
  background-color: #00bfff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid #00bfff;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
body .interface #jeu .udates .connect:hover {
  background-color: #fff;
  color: #00bfff;
}
body .interface #jeu .udates .inscription {
  background-color: #00bfff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid #00bfff;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}/*# sourceMappingURL=style.css.map */